body {
    font-family: Roboto,sans-serif;
    height: 100%;
}

header {
    padding: 12px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

ul,p {
    display: flex;
    gap: 23px;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.main_text {
    font-size: 48px;
    font-weight: 800;
 color: #F9FAF8;
}

.subtext,p {
    max-width: 427px;
}

.sub-head {
    padding-left: 190px;
    padding-top: 90px;
}

.sec-01 {
background-color: #1f2937;
height: 550px;
}


.intro_img {
    display: flex;
    flex-direction: column;
    width: 454px;
    height: 234px;
    float: right;
    margin-top: -60px;
    margin-right: 139px;
}

figcaption,a  {
    color: #F9FAF6;
    text-decoration: none;
}

button {
    
    font-weight: 800;
    color: #F9FAF6;
    border: none;
    background: #3882F6;
    padding: 16px;
   
    width: 8rem;
    height: 33px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: large;
}


.sec-02 {

}

.img_01 {
    width: 200px;
    height: 100px;
}

.sec-03 {

}

.sec-04 {

}