* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.intro_section {
    background-color: #1f2937;
    padding-inline: 110px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    padding-inline: 3rem;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}



.nav_links_container {
    display: flex;
    list-style: none;
    display: flex;
    font-size: 18px;
    color: #e5e8eb;
    gap: 1rem;
}

.intro_details {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

.intro_details_description {
    color: #1f29379e;
    line-height: 1.5;
}

h1 {
    color: #f9faf8;
    font-size: 32px;
    font-weight: 800;
}

.oldman_image {
    width: 500px;
    height: 220px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    font-weight: 800;
    color: #f9faf6;
    background: #3882f6;
    border: 1px;
    padding: 9px;
    width: 8rem;
    border-radius: 9px;

}


.sec-02 {
    display: flex;
    flex-direction: column;
    height: 450px;
}

header-02 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.main_fig {
    display: flex;
    margin: 0;
}

.img_00 {

    width: 250px;
    height: 200px;
    border: 3px solid #3882F6;
    border-color: #3882F6;
    border-radius: 20px;

}

.sec-03 {
    background: #E5E7EB;
    display: flex;
    height: 421px;
    justify-content: center;
    align-items: center;
    font-size: 36px
}


.span-container {
    display: flex;
    font-weight: 700;
    justify-content: flex-end;
    color: #040a12f5;
}


.sec-04 {}