body {
    background-color: rgb(217 226 229);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 6rem;
}

.qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9faf6;
    border: 2px;
    border-radius: 1rem;
    width: 191px;
    height: 292px;

}

figcaption {
    font-family: "Roboto", san-serif;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.scan_qr {
    text-align: center;
    font-size: small;
    font-weight: 300;
    color: #00000070;
}

.qr-code {
    object-fit: contain;
    border-radius: 9px;
    width: 170px;
    height: 170px;

}

article {
    font-size: small;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    padding-top: 9px;
}